<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/logo.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Shop
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/bibliothek">
      <mat-icon>dashboard</mat-icon> Bibliothek
    </a>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/freunde">
      <mat-icon>group</mat-icon> Freunde
    </a>
</mat-nav-list>

    