.card{
  border: none;
  width: 500px;
  height: 670px;
  padding: 40px;
  position: relative;
  margin-top: none;
  left: 55%;
  background: #2c3344  ;
}

.card h1{
  color: #fff;
  font-size: 3rem;
 
}

.card h6{
  color: #fff;
  font-size: 1rem;
}

label {
  color: #fff;
}

.form-text{
  color: rgb(232, 223, 223);
}

.text-center{
  margin-top: 10px;
}